<h1>Continuity Counter</h1>
<div style="display: flex;">
    <img src = {{url}} alt = "Chart" height = "auto" width= "50%">
    <div>
        <h1>Key Stats</h1>
        <h3>>Total workers: {{totalWorkers}}</h3>
        <h3>>Average Continuity: {{avgContinuity}}</h3>
        <h3>>Maximum Continuity: {{highestContinuity}}</h3>
        <h3>>Minimum Continuity: {{minContinuity}}</h3>
        <h3>>Continuity Greater Than One: {{greaterThanOne}}</h3>
    </div>
</div>
<a href="/" style="margin-right: 20px;">Home</button>
<a href="/csv">CSV</button>
